*{
	padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
	background-color: #eee;
}
.main{
	background-color: #fff;
	display: flex;
	width: 95%;
	max-width: 1000px;
	margin: auto;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	flex-wrap: wrap;
}
@media all and (max-width: 1024px) {
.img-box{
	width: 90%;
	column-count: 3;
}
}
@media all and (max-width: 768px) {
	.img-box{
		width: 100%
		column-count: 2;
	}
}
@media all and (max-width: 480px) {
	.img-box{
		column-count: 1;
	}
}
@media all and (max-width: 1200px) {
	.img-wrapper:hover{
		opacity:  1;
        filter: hue-rotate(45deg);
	}
	.author:hover{
		border-color: #111;
	}
}